<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Direccion de Envio</h3>

  <ion-item>

    <p style="font-size: 25px;">{{ nombre }} {{ apellido }} </p>
    <p style="font-size: 20px; color: gray; margin-left: 5%">{{ ciudad }}, {{ direccion1 }} {{ codigo_postal }},{{ pais }}<br>
    {{ telefono }}</p>

  </ion-item>

  <h3>Método de envío</h3>

  <ion-item>
    <ion-checkbox [(ngModel)]="consentRemail" checked="false" id="check"></ion-checkbox>Tracked Shipping with DHL Economy (2-5 Business Days)
  </ion-item>

  <ion-item>
    <ion-checkbox [(ngModel)]="consentRemail" checked="false" id="check"></ion-checkbox>Tracked Shipping with DHL Economy (2-5 Business Days)
  </ion-item>
  
  

  <ion-button (click)="pasoParametro()"> Continuar</ion-button>
  

</ion-content>
