<ion-header>

  <ion-toolbar>
    <ion-title>Paso de Objeto</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content style="font-size: 15px;">
 
  <h3>Codigo promocional</h3>
  <br>
  <ion-item style="font-size: 10px;">
    <ion-input placeholder="Introduce el código de promocíon...(Opcional)" type="text" id="codigo" [(ngModel)]="codigo" style="border: 1px solid; height: 100%;"></ion-input>
    <ion-button style="width: 23%; font-size: 13px; height: 100%;" (click)="validarCupon()" size="long">Aplicar</ion-button>
  </ion-item>
 
 
  <h3>Informacion del cliente</h3>

  <br>
  <ion-item>
    <ion-input placeholder="Correo electrónico" type="text" id="correo" [(ngModel)]="correo" style="border: 1px solid; width: 90%; height: 100%;"></ion-input>
  </ion-item>

  <ion-item>
    <ion-checkbox [(ngModel)]="consentRemail" checked="false" id="check"></ion-checkbox>Consiento que me envies email
  </ion-item>
  
  <br>


  <h3>Estoy comprando como</h3>

  <ion-item>

    <ion-input placeholder="Primer Nombre" type="text" id="nombre" [(ngModel)]="nombre" style="border: 1px solid; margin-right: 5%; height: 100%;"></ion-input>
    <ion-input placeholder="Apellido" type="text" id="apellido" [(ngModel)]="apellido" style="border: 1px solid; height: 100%;"></ion-input>

  </ion-item>
  <br>
  <ion-item>

    <ion-input placeholder="Empresa (Opcional)" type="text" [(ngModel)]="empresa" style="border: 1px solid; height: 100%;"></ion-input>

  </ion-item>
  <br>
  <ion-item>

    <ion-input placeholder="Direción Línea 1" type="text" id="direccion1" [(ngModel)]="direccion1" style="border: 1px solid; height: 100%;"></ion-input>
    
  </ion-item>
  <br>
  <ion-item>

    <ion-input placeholder="Direción Línea 2 (Opcional)" type="text" [(ngModel)]="direccion2" style="border: 1px solid; height: 100%;"></ion-input>

  </ion-item>
  <br>

  <ion-item style="border: 1px solid; width: 90%; margin-left: 5%;"  id="pais">
    <ion-label position="stacked">País</ion-label>
    
    <ion-select placeholder="País" [(ngModel)]="pais">
      <ion-select-option value="ESP">España</ion-select-option>
      <ion-select-option value="FR">Francia</ion-select-option>
    </ion-select>
  </ion-item>
  <br>


  <ion-item>

    <ion-input placeholder="Ciudad" type="text" id="ciudad" [(ngModel)]="ciudad" style="border: 1px solid; margin-right: 5%; height: 100%;"></ion-input>
    
    <ion-item style="width: 47.5%; border: 1px solid;" id="provincia">
      <ion-label position="stacked">Provincia</ion-label>
      <ion-select placeholder="Provincia" [(ngModel)]="provincia">
        <ion-select-option value="Barcelona">Barcelona</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-item>
  <br>

  <ion-item>

    <ion-input placeholder="Codigo Postal" type="text" id="codigo_postal" [(ngModel)]="codigo_postal" style="border: 1px solid; margin-right: 5%; height: 100%;"></ion-input>
    <ion-input placeholder="Télefono" type="text" id="telefono" [(ngModel)]="telefono" style="border: 1px solid; height: 100%;"></ion-input>

  </ion-item>
  <br>


  <ion-button (click)="pasoParametro()"> Continuar</ion-button>
  
</ion-content>





